<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      tr,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Student Added Successfully!!</h1>
    <p>The following is the information of the newly added student:</p>
    <table>
      <tr>
        <td>Student ID</td>
        <td><%= savedStudent._id %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= savedStudent.name %></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><%= savedStudent.age %></td>
      </tr>
      <tr>
        <td>Merit Scholarship</td>
        <td><%= savedStudent.scholarship.merit %></td>
      </tr>
      <tr>
        <td>Other Scholarship</td>
        <td><%= savedStudent.scholarship.other %></td>
      </tr>
    </table>
    <a href="/students">Back to Home</a>
  </body>
</html>
