<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundStudent.name %>'s Page</title>
    <style>
      table,
      tr,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>Student ID</td>
        <td><%= foundStudent._id %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= foundStudent.name %></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><%= foundStudent.age %></td>
      </tr>
      <tr>
        <td>Merit Scholarship</td>
        <td><%= foundStudent.scholarship.merit %></td>
      </tr>
      <tr>
        <td>Other Scholarship</td>
        <td><%= foundStudent.scholarship.other %></td>
      </tr>
    </table>
    <a href="/students">Back to Home</a>
    <a href="/students/<%= foundStudent._id %>/edit">Update Student Information</a>
  </body>
</html>
